header.header
    nav.header__nav
        a(href=routes.home.href)
            i.fas.fa-home
        a(href=routes.join.href) Join
        a(href=routes.login.href) Log In
        a(href=routes.logout.href) Log Out
        a(href=routes.userDetail.href()) User Detail
        a(href=routes.editProfile.href) Edit Profile