nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href=routes.home.href) #{siteName}
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href=routes.signup.href) Sign Up
                li
                    a(href=routes.signin.href) Sign In
                li
                    a(href=routes.signout.href) Sign Out
                li
                    a(href=routes.userDetail.href()) User Detail
                li
                    a(href=routes.editProfile.href) Edit Profile
                li
                    a(href=routes.help.href) Help