extends _bootstrap
append styles
	link(rel='stylesheet', href='/stylesheets/home.css')
block body  
	include ./partials/navbar
	.container-fluid
		.row
			include ./partials/sidebar
			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h1.page-header Join
				.form-container
					form(action=routes.join.href, method='post')
						input(type="text", name='name', placeholder='Full Name', required=true)
						input(type="email", name='email', placeholder='Email', required=true)
						input(type="password", name='password', placeholder='Password', required=true)
						input(type="password", name='password2', placeholder='Verify Password', required=true)
						input(type="submit", value='Join Now')
					include partials/socialLogin
